@charset "UTF-8";

::-webkit-scrollbar {
  display: none;

}
.category_wrap{
	background-color: white;
    padding-left: 3%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    border-right: 1px solid rgb(234, 234, 234);
    overflow-y: scroll;
    flex-wrap: wrap;
    justify-content: center;

	
	}

.res_list_wrap{
	min-width:250px;
	height:250px;
	
}
.res_list_content{
	
	
}
.photo_img{
	width: 280px;
	height: 224px;
	
}
.res_right_con{
	float: right;
	  padding-left: 3%;
    padding-right: 10%;
        display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(234, 234, 234);
    overflow-y: scroll;
  	background-color: white;
  
}


/* 새로 */

.main_con{
	background: #fbfbfb;
    padding-top: 40px;
    margin-bottom: 0;
}
.list_type{
	padding-right: 12px;
        padding-left: 12px;
        padding-bottom: 0;
}
.title02{
	display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;

}
.res_ul{
	    overflow: hidden;
    display: table;
    width: 100%;
    table-layout: fixed;
	
}
.res_li{
	    float: left;
    width: 280px;
    padding-bottom: 44px;
    display: table-cell;
    margin-right: 40px;
    vertical-align: top;
	
}
.cont{
	        margin-right: 5px;
        margin-left: 0;
	
}
.res_img{
	
}
.cnt{
	padding-right: 20px;
    position: relative;

}
.score{
	display: block;
        font-size: 1.5em;
        color: #ff7400;
        font-weight: 700;
        font-style: normal;
        padding-top: 8px;
        line-height: 22px;
        letter-spacing: -1px;
}
.box_tit{
	position: relative;
}