@charset "UTF-8";

::-webkit-scrollbar {
  display: none;

}
.category_wrap{
	background-color : white;
	padding-left: 3%;
    /* padding-right: 10%; */
    display:flex;
	border-right: 1px solid rgb(234, 234, 234);
	overflow-y: scroll;
	
	}

.res_list_wrap{
	min-width:250px;
	height:250px;
	
}
.res_list_content{
	
	
}
.photo_img{
	width: 88px;
	height: 88px;
	
}


