/* 기본 설정 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
}

/* 헤더와 푸터 공통 스타일 */
header, footer {
    background-color: #f4f4f4;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* 컨테이너 */
.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* 헤딩 */
.form-container h2 {
    margin-bottom: 20px;
    color: #333;
}

/* 라벨 */
.form-container label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    color: #666;
}

/* 입력 필드 */
.form-container input[type="text"],
.form-container input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* 버튼 */
.form-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ebb842;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* 버튼 호버 */
.form-container button[type="submit"]:hover {
    background-color: #d29b3a;
}

/* 링크 스타일 */
a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

/* 플렉스 박스 레이아웃 설정 */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 헤더, 푸터 고정 */
header {
    width: 100%;
    position: fixed;
    top: 0;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

/* 메인 컨텐츠 마진 조정 */
.form-container {
    margin-top: 80px;
    margin-bottom: 80px;
}
