.notice-main {
    margin: 20px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    border: 1px solid #0000002b;
    border-radius: 20px;
    background-color: #f9f9f9;
    min-width:1100px;
}

.notice-container {
    position: relative;
}

.notice-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9194972b;
    padding: 20px;
    padding-bottom: 0px;
    border-radius: 20px 20px 0px 0px;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-and-button {
    display: flex;
    align-items: center;
    gap: 10px;
}

table.notice-table {
    width: 80% !important;
    margin: 40px auto !important;
    border-collapse: collapse;
}

th {
    background-color: #ff9800;
}

th, td {
    border: 1px solid #0000002b !important;
    padding: 10px !important;
    text-align: center !important;
}

.notice-table tbody tr:hover {
    cursor: pointer;
}

.notice-table tbody tr:hover .title-padding {
    text-decoration: none;
}

th {
    background-color: #ff9800 !important;
    color: white !important;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.card {
    --bs-card-border-width: 0px;
}

.card-header {
    background-color: white !important;
    text-align: left;
}

#editorTxt, #editTxt {
    width: 85%;
    height: 300px;
    padding: 10px;
    box-sizing: border-box;
}

.num {
    width: 7% !important;
}

.title {
    width: 56% !important;
    text-align: left !important;
}

.title-center {
    text-align: center !important;
}

.date {
    width: 25% !important;
}

.views {
    width: 12% !important;
}

table {
    font-size: 20px !important;
}

table thead {
    background-color: #ff9800 !important;
}

table thead tr th {
    color: #f2f2f2 !important;
}

.card-content-wrapper {
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 70%;
}

.col-md-8 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.notice-enter {
    margin-top: 20px !important;
}

.notice-image {
    max-width: 100%;
    height: auto;
}

.image-center {
    text-align: center;
}

