.notice-main {
    margin: 20px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.notice-container {
    position: relative;
}

table {
    width: 100%;
    margin-top: 40px;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
    text-align: center; /* 모든 텍스트를 중앙 정렬로 변경 */
}

th {
    background-color: #333;
    color: white;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.card {
    --bs-card-border-width: 0px;
}

#editorTxt,
#editTxt {
    width: 85%;
    height: 300px;
    padding: 10px;
    box-sizing: border-box;
}

.num {
    width: 7%;
}

.title {
	
    width: 61%;
    text-align: left; 
}
.title-center{
	text-align: center; 
}
.date {
    width: 25%;
}

.views {
    width: 7%;
}

table {
    font-size: 20px;
}

table thead {
    background-color: #ebb842;
}

table thead tr th {
    color: #f2f2f2;
}

.card-content-wrapper {
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    width: 70%;
}
