@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
}

/* 전체 리뷰 박스 */
.container-review-box {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
/* 전체 리뷰박스 안 리뷰영역 */
.container-review {
    max-width: 800px;
    margin: 35px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 타이틀 */
h1 {
    text-align: center;
    color: #333;
}


/* 사용자 프로필 */
.user-img {
    border-radius: 50px;
    margin-right: 10px;
    margin-bottom: 5px;
    width: 60px;
    height: 60px;
}
.review .date {
    font-size: 0.8em;
    color: #777;
}
.review .content {
    margin-top: 10px;
}

.user-container {
    display: flex;
    align-items: center;
}
.user-info {
    display: flex;
    flex-direction: column;
}
.review .rating {
    color: #ff9800;
    font-size: 1.2em;
}

/* 리뷰 사진 */
.review-photos {
    margin-top: 15px;
    border-radius: 10px;
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    display: flex;
    justify-content: center; /* 사진들을 중앙 정렬 */
}

.review-photo {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
}

.photo {
    width: 100%;
}

