
body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f3;
}

/* 전체 리뷰 박스 */
.container-review-box {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
/* 전체 리뷰박스 안 리뷰영역 */
.container-review {
    max-width: 800px;
    margin: 35px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 타이틀 */
h1 {
    text-align: center;
    color: #333;
}

/* 별점 */
/* 1~5점 만족 */
.rating-text { 
    font-size: small;
}

.rating-box {
    text-align: center;
}

/* 별 묶음 */
.rating {
    margin: auto;
    width: 180px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
    padding: 5px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 2px #b3acac;
 }
 
 .rating__result {
    position: relative; /* 절대 위치에서 상대 위치로 변경 */
    font-size: 3em;
    color: #ebebeb8e;
    pointer-events: none;
    margin-top: -10px; /* 수정된 위치 조정값 */
 }
 
 .rating__star {
    font-size: 1.3em;
    cursor: pointer;
    color:  #ff9800;
 }
 .rating__star:hover {
    filter: drop-shadow(1px 1px 4px  #ff9800);
 }
 /* 별점 끝*/
 
 .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; 
    width: 350px;
}

.input-container,
.content,
.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.review, .content {
    margin-top: 10px;
}

.content {
    height: 90px;
    width: 700px;
}

textarea {
    width: 100%; /* textarea의 너비를 최대로 설정 */
    height: 5em;
    padding: 10px; /* 텍스트 영역 내부의 여백 설정 */
    resize: none;
    margin : auto;
}



/* 리뷰 사진추가 */
#btn {
    margin-top: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* 수평 가운데 정렬 */
    justify-content: center; /*사진들을 중앙 정렬*/
}
#btn > p {
    margin-bottom: auto;
    margin-right: auto;
}

button, .btn-upload {
    width: 250px;
    height: 30px;
    cursor: pointer;
    border-radius: 15px;
    border-color: #ff9800;
    background-color: #ff9800;
    border: none;
    text-align: center;
    color: #fff;
    font-size: medium;
    margin: 7px;
    display: flex;
    align-items: center; /* 텍스트 수직 가운데 정렬 */
    justify-content: center; /* 텍스트 수평 가운데 정렬 */
}

#inputFile {
    display: none;
}

#image_container {
    width: 100%;
    min-height: 150px;
    margin-bottom: 0px;
    margin: auto;
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
    place-items: center;
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

img {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
} 