* { box-sizing: border-box; }
        body { font-family: Arial, sans-serif; }
        .slider {
            position: relative;
            max-width: 100%;
            margin: auto;
            overflow: hidden;
        }
        .slides {
            display: flex;
            transition: transform 0.5s ease-in-out;
            position: relative;
        }
        .slide {
            width: 10%;
            height: 10%;
            /* height: 600px; */
            /* min-width: 100%; */
            box-sizing: border-box;
            position: relative;
        }
        .slide img {
            width: 100%;
            display: block;
        }
        .prev, .next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: auto;
            padding: 16px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            cursor: pointer;
            background-color: rgba(0,0,0,0.5);
            border: none;
            user-select: none;
            z-index: 10;
        }
        .prev {
            left: 10px; 
            border-radius: 0 3px 3px 0;
        }
        .next {
            right: 10px; 
            border-radius: 3px 0 0 3px;
        }
        .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
        }
        